.container {
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    background-color: antiquewhite;
    padding: 10px 0;
}

.form {
    width: 50%;
    margin-top: 30px;
}

.form-group {
    margin-bottom: 20px;
}